<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Me</h1>
    <p>Welcome to the ABOUT ME page</p>
  </body>
</html>
