<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HOME PAGE</h1>
    <p>Welcome to the Home Page</p>
  </body>
</html>
